@model EncuestasITESRC.Areas.Administrador.Models.DAPreguntasViewModel
@inject EncuestasITESRC.Services.MenuService ms
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<section>
    <div class="card mb-3">


        <div class="card-header">
            <h4 class="title-card">@ViewBag.NE.ToString()</h4>
            <div class="btn-action">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-secondary" style="color: #777777; background-color: white; border: 1px solid #b5babe" data-toggle="modal" data-target="#addQuestionModal">Agregar Preguntas</button>


                </div>

            </div>

        </div>
        <div class="card-body" id="lista">

            <ul class="list-group list" style="width: 100%;">
                @*@Html.Partial("_Preguntas", (IEnumerable<EncuestasITESRC.Areas.Administrador.Controllers.PreguntasController>)ViewBag.Preguntas)*@
            </ul>

            <form method="post" action="~/Administrador/Preguntas/EliminarPregunta">
                <input name="id" id="idPreg" type="hidden" />
            </form>

            <script>
                function eliminar(idPreg) {
                    document.getElementById("idPreg").value = idPreg;
                    if (confirm('¿Desea eliminar esta pregunta?')) {
                        document.forms[0].submit()
                    };
                }
            </script>

        </div>
    </div>


    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Anadir Pregunta</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form method="post" action="~/Administrador/Preguntas/AgregarPregunta">
                    <div class="modal-body">
                        <h5>Pregunta</h5>
                        <input type="text" class="form-control" asp-for="Contenido">

                        <h5 style="margin-top: 10px;">Tipo de pregunta</h5>
                        <select asp-for="IdTipoRespuesta"
                                asp-items="@(new SelectList(ms.GetTiposRespuesta(),"Id","Tipo"))" class="custom-select form-control">
                        </select>
                    </div>
                </form>
                <div class="modal-footer">

                    <input type="submit" class="btn btn-primary" value="Agregar" />
                    @*<a class="btn btn-primary" href="~/Administrador/Preguntas/Index/">Cancelar</a>*@

                </div>
            </div>
        </div>
    </div>
</section>
