@model EncuestasITESRC.Areas.Administrador.Models.DAPreguntasViewModel
@inject EncuestasITESRC.Services.MenuService ms
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<section>
    <div class="card ">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <form method="post" action="~/Administrador/Preguntas/Index">
                <input class="navbar-brand" style="overflow:hidden" type="text" asp-for="Contenido"/>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd" />
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus-circle"></i> Añadir pregunta
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <select asp-for="IdTipoRespuesta">
                                        asp-items="@(new SelectList(ms.GetTiposRespuesta(),"Id","Tipo"))" class="custom-select form-control" id="cate">
                                </select>
                                <button class="dropdown-item btn" onclick="addTextArea2()">
                                    <svg class="bi bi-justify" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z" clip-rule="evenodd" />
                                    </svg> Respuesta libre
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">

                            <button type="button" class="btn btn-light" style="color: #444;"><i class="far fa-save"></i> Guardar</button>
                        </li>

                    </ul>
                    <div>
                        <i class="fas fa-lock"></i>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <i class="fas fa-lock-open"></i>
                    </div>
                </div>
            </form>
        </nav>

        <div id="contentPanel">

        </div>



    </div>
</section>

