@model  EncuestasITESRC.Areas.Administrador.Models.DACategoriasViewModel
@{
    ViewData["Title"] = "AgregarCategoria";
    Layout = "_LayoutAdmin";
}

<div class="card mb-3" id="card-admin">
    <div class="card-header">

        <h3> <i class="fas fa-plus"></i> <span>Añadir Categoria</span></h3>

    </div>
    <div class="card-body">
        <form method="post" action="~/Administrador/Categorias/AgregarCategoria" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input asp-for="Nombre" name="Nombre" type="text" class="form-control" id="name" aria-describedby="name">
                <small id="name" class="form-text text-muted">Use solo letras </small>
            </div>
            <div class="form-group">
                <label for="desc">Escriba una breve descripcion sobre la categoria</label>
                <textarea asp-for="Descripcion" name="Descripcion" class="form-control" id="desc" rows="3"></textarea>
            </div>


            @Html.ValidationSummary()

            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a class="btn btn-primary" href="~/Administrador/Categorias">Cancelar</a>
        </form>

        @if (ViewBag.Recuperacion == true)
        {
            <form method="post" action="~/Administrador/Categorias/RecuperarCategoria">
                <p>Se ha encontrado una categoria con el mismo nombre</p>
                <p>¿Desea recuperarla?</p>
                <input class="btn btn-primary" type="submit" value="Recuperar" />
                <input name="id" id="id" type="hidden" value="@ViewBag.IdEncRec" />
            </form>
        }

    </div>
</div>

